@media screen and (min-width:0px) {
    /*基本　スマホ用*/
    html{
        width:100%;
        height: 100%;
    }

    body{
        width:100%;
        height: 100%;
        /*text-align: center;*/
    }

    h1{

    }

    #wrap{
        /*vertical-align: middle;*/
        background-color: #ffc1c0;
        /*text-align: center;*/

    }
    #menuBar{
        position: fixed;
        right:20px;
        top:9px;

    }

    li{
        list-style: none;
    }

    #main{

        background-color: #feffbb;

    }

    .datetime{
        font-size: 0.6em;
    }
    #list{
        /*text-align: center;*/
    }


    #delete_btn{
        visibility: hidden;
    }

    input[type=checkbox]{
        width:25px;
        height:25px;
        visibility: hidden;


    }
    input[type=text]{
        width:80%;
        height:25px;
        font-size: 1.5em;
        margin:2px;

    }

    #tm,#dl{
        background-color: pink;


    visibility: hidden;
    }
    #dl>span{
        text-align: center;
    }


    #saveBar{
        position: fixed;
        bottom:25px;
        display: flex;
        width:100%;
        background-color: white;
        border: solid darkblue;
        height: 10%;
        padding:0;
        margin:0 auto;


    }

    #save{
        flex: 1;
        border-radius: 100%;
        font-size: 2em;
    }

    #plus{
        flex:1;
        border-radius: 100%;
        font-size: 2em;
    }

}

@media screen and (min-width:1024px) {
    /*パソコン修正用*/
}