@media screen and (min-width:0px) {
    /*基本　スマホ用*/

    #wrap{
        /*vertical-align: middle;*/
        /*text-align: center;*/

    }
    #menuBar{
        position: fixed;
        right:20px;
        top:9px;

    }
    .add{
        display: none;
    }
    #scroll{
        width: 100%;
        overflow: hidden;
        display: flex;
        overflow-x: scroll;
        overflow-y:scroll;
        /*-webkit-overflow-scrolling: touch;*/
    }
    .scrollBox{
        flex: 1;
    }
    .addInLine{
        margin:3px;
        background-color: #FFF;
        overflow: scroll;
        height:75%;
        /*border-left:solid #999999;*/
        /*border-top:solid  #999999;*/
        /*border-bottom: solid #999999;*/
        border: solid #999999;
    }
    .tm_text{
    }

    li{
        list-style: none;
    }

    #main{
        background-color: #feffbb;
        margin-bottom: 28%;

    }

    .datetime{
        font-size: 0.6em;
    }
    #list{
        /*text-align: center;*/
    }


    #delete_btn{
        visibility: hidden;
    }

    input[type=checkbox]{
        width:25px;
        height:25px;
        visibility: hidden;


    }
    input[type=text]{

        height:25px;
        font-size: 1.5em;
        margin:2px;

    }

    #tm,#delete_btn{
        background-color: #fff;
        border: double #6182ca;
        visibility: hidden;
    }



    #saveBar{
        position: fixed;
        bottom:25px;
        right:0.1%;
        display: flex;
        width:100%;
        background-color: white;
        /*border: solid darkblue;*/
        height: 10%;
        padding:0;
        margin:0 auto;


    }

    #save{
        flex: 10;
        border-radius: 100%;
        font-size: 2em;
        border: double #feffbb;
    }

    #plus{
        flex:10;
        border-radius: 100%;
        font-size: 2em;
        border: double  #feffbb;
    }



}

@media screen and (min-width:1024px) {
    /*パソコン修正用*/
    input[type=text]{
        width:80%;
        height:50px;
        font-size: 1.5em;
        margin:2px;

    }
}